.gallery {
  background-color: $secondaryBack;
  h2 {
    text-align: center;
    margin-bottom: 80px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    li {
      width: calc(100% / 3 - 20px);
    }
  }
}